<?xml version="1.0" encoding="UTF-8"?>
<application>
    <framework>
        <attributes>
            <key name="log.config">log4jConfig.xml</key>
            <key name="log.class">net.mysmrti.cotprovider</key>
            <key name="log.filename">cotprovider.log</key>
            <key name="log.path">/temp/logs/cotlogs/</key>
            <key name="config.dump">true</key>
            <key name="application.dateFormat">yyyyMMdd</key>
            <key name="application.timeFormat">HHmmssS</key>
            <key name="application.datetimeFormat">yyyyMMddHHmmssS</key>
            <key name="temp.path">/temp/</key>
        </attributes>
    </framework>
    <service>
    	<fileStore>
    		<type>absolute</type>
    		<path>/temp</path>
    	</fileStore>
	    <database>
	    	<jdbc>mysql</jdbc>
	    	<driver>com.mysql.jdbc.Driver</driver>
	    	<host>localhost</host>
	    	<port>3306</port>
	    	<database>cotprovidersvc</database>
	    	<optionalParameters>noAccessToProcedureBodies=true</optionalParameters>
	    	<user>cotprovider</user>
	    	<password>fmcu</password>
	    </database>
	    <fileUpload>
	    	<bufferSize>8</bufferSize>
	    </fileUpload>
	    <fileDownload>
	    	<bufferSize>8</bufferSize>
	    </fileDownload>
    </service>
</application>
